<section id="about" class="module-small module-parallax module-full-height my-bg-dark" data-background="assets/images/about_bg.jpg">
<div class="container">
<div class="row row-centered">
  <div class="col-md-2 col-centered">
    <img class="circle-image img-responsive" src="assets/images/about/img-1.jpg" />
  </div>
  <div class="about-item">
  <h4 class="about-text">
    My journey of photography began when my dad bought me my first <a  class="gallery" href="assets/images/about/camera.jpg"> camera.</a>
    I love photography and believe it's more about the perspective to look at things in a new beautiful way than gear and techniques.
    </br>
    </br>
    Currently I am pursuing my master's in Computer Science at <a href="http://cse.unl.edu">University of Nebraska, Lincoln</a>.
    My specialization is Bioinformatics using advanced database techniques.
  </br>
  </br>
    To be noted: If you are a <a href="http://friendstvshow.net">F.R.I.E.N.D.S</a> person, then you pretty much know the type of person I am.
    <a href="https://www.instagram.com/jenniferjaniston">Jennifer Anniston</a> a.k.a Rachel Green has been my role model. Apart from this,
    I love to travel, enjoy the nature, sleep and ofcourse photography.
  </br>
  </br>
  Drop me a line, if you wanna know more about me.
  </h4>
</div>
</div>
</div>
</section>
