<!-- PRELOADER -->
<div class="page-loader">
  <div class="loader">Loading...</div>
</div>
<!-- /PRELOADER -->

<!-- OVERLAY MENU -->
<div id="overlay-menu" class="overlay-menu">

  <a href="#" id="overlay-menu-hide" class="navigation-hide"><i class="ion-close-round"></i></a>

  <div class="overlay-menu-inner">
    <nav class="overlay-menu-nav">

      <ul id="nav">

        <li class="slidedown">
          <a href="#">Home</a>
        </li>

        <li><a href="index.html#about">About</a></li>

        <li><a href="index.html#contact">Contact</a></li>

      </ul>

    </nav>
  </div>

  <div class="overlay-navigation-footer">

    <div class="container">

      <div class="row">

        <div class="col-sm-12 text-center">
          <p class="copyright font-alt m-b-0">© 2016 Jyotsna Ramanan</p>
        </div>

      </div>

    </div>

  </div>

</div>
<!-- /OVERLAY MENU -->

<!-- WRAPPER -->
<div class="wrapper">

  <!-- NAVIGATION -->
  <nav class="navbar navbar-custom navbar-transparent navbar-fixed-top">

    <div class="container">

      <div class="navbar-header">
        <!-- YOU LOGO HERE -->
        <a class="navbar-brand" href="index.html">
          <!-- IMAGE OR SIMPLE TEXT -->
          <img src="assets/images/logo-dark.png" width="65" alt="">
        </a>
      </div>

      <!-- ICONS NAVBAR -->
      <ul id="icons-navbar" class="nav navbar-nav navbar-right">
        <li>
          <a href="#" id="toggle-menu" class="show-overlay" title="Menu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        </li>
      </ul>
      <!-- /ICONS NAVBAR -->

      <ul class="extra-navbar nav navbar-nav navbar-right">
        <li><a href="#" title="Home">Home</a></li>
        <li><a href="#about" title="About">About</a></li>
        <li><a href="#contact" title="Contact">Contact</a></li>
      </ul>

    </div>

  </nav>
  <!-- /NAVIGATION -->
